<% if user_signed_in? %>
  <h3>Add a new comment</h3>
  <%= form_for @article.comments.build, url: article_comments_path(@article), class:"myform" do |f| %>
    <%= f.hidden_field :article_id %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" >
        <div class="form-group">
          <div class="controls">
            <%= f.text_area :content, class: "form-control input-lg requiredField", 
                                     placeholder: "Join the discussion...", 
                                     rows: 3, 
                                     data: {error_empty: "Please enter comment"} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <%= f.submit "Send Comment", class: "btn btn-block", 
                                       data: { error_message: "Error!",
                                               sending_message: "Sending...",
                                               ok_message: "Comment Sent"
                                              } %>

          <input type="hidden" name="submitted" id="submitted3" value="true">
        </div>  
      </div>  
    </div>  
  <% end %>
<% else %>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
          <%=link_to "Login via Instagram", user_omniauth_authorize_path(:instagram), class:"btn btn-block" %>
        </div>  
      </div>  
    </div>  
<% end %>
