<h3><%= pluralize(@article.comments.count, 'comment') %> </h3>  
<% @article.comments.joins(:user).each do |comment| %>
  <% cache comment do %>
    <div class="media">
      <hr>
      <a class="pull-left avatar" href="#">
        <%=image_tag comment.user.avatar.url, size: "40x40", class: "media-object img-circle"%>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href=""><%= comment.user.name %></a>
          <span><%=comment.created_at.strftime("%T") %></span>
        </h4>
        <p><%= comment.content %></p>
      </div>
    </div>
  <% end %>
<% end %>