<section id="hero" class="light-typo">
  <div id="cover-image" class="image-bg animated fadeIn"></div>
  <div class="container welcome-content">
    <div class="middle-text">
      <h1>Hello there, my name is Ivan</h1>
      <h2>This theme was honestly purchased</h2>
      <a class="btn smooth-scroll" href="#start">Let's Go</a>
    </div>
  </div>
</section>

<div id="start" class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% @articles.each do |article| %>
        <% cache article do %> 
          <article class="clearfix">
            <div class="post-date">
              <%= article.updated_at.strftime("%B %d, %Y")%><span><a href=""><%= pluralize(article.comments.count, 'comment') %></a></span>
            </div>    
            <h2><%= link_to article.title, article %></h2>
            <p>
              <%= markdown article.content[0..300] %>
              <%= link_to "Read more", article %>
            </p>
          </article>
        <% end %>
      <% end %>
    </div>  
  </div><!-- end row -->
</div>