<section id="hero" class="light-typo">
  <div id="cover-image" class="animated fadeIn" style="background-image: url('<%=@article.cover.url%>');"></div>
  <div class="container welcome-content">
    <div class="middle-text">
      <h1><%=@article.title %></h1>
    </div>
  </div>
</section>

<div class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="post-date">
        <%=@article.created_at.strftime("%B %d, %Y") %><span><a href=""><%= pluralize(@article.comments.count, 'comment') %></a></span>
      </div>    

      <% cache do %>  
        <p>
          <%= markdown @article.content %>
        </p>  
      <% end %>
      

      <ul class="social-links outline text-center">
        <li><a href="#link"><i class="icon-twitter"></i></a></li>
        <li><a href="#link"><i class="icon-facebook"></i></a></li>
        <li><a href="#link"><i class="icon-googleplus"></i></a></li>
      </ul>

      <% cache "show/recent_articles" do %>
        <div class="post-popular">
          <div class="row hidden-xs">
            <% Article.recent.each do |article| %>
              <% cache article do %>
                <div class="col-sm-4 col-md-4"> 
                  <%= link_to image_tag(article.cover.url, class: "img-responsive"), article %>
                  <h4 class="text-center"><%= link_to article.title, article %></h4>
                  <p class="post-date text-center"><%= article.updated_at.strftime("%B %d, %Y")%></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= render "comments/list" %>
      <%= render "comments/form" %>
    </div>
  </div>
</div>