@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?-xhjih6');
	src:font-url('icomoon.eot?#iefix-xhjih6') format('embedded-opentype'),
		font-url('icomoon.woff?-xhjih6') format('woff'),
		font-url('icomoon.ttf?-xhjih6') format('truetype'),
		font-url('icomoon.svg?-xhjih6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
.icon-image:before {
	content: "\e600";
}
.icon-music:before {
	content: "\e619";
}
.icon-play:before {
	content: "\e61a";
}
.icon-books:before {
	content: "\e61b";
}
.icon-file:before {
	content: "\e61c";
}
.icon-tag:before {
	content: "\e616";
}
.icon-phone:before {
	content: "\e61d";
}
.icon-envelope:before {
	content: "\e61e";
}
.icon-calendar:before {
	content: "\e618";
}
.icon-user:before {
	content: "\e606";
}
.icon-spinner:before {
	content: "\e60f";
}
.icon-search:before {
	content: "\e627";
}
.icon-lock:before {
	content: "\e60e";
}
.icon-cog:before {
	content: "\e61f";
}
.icon-trophy:before {
	content: "\e610";
}
.icon-truck:before {
	content: "\e615";
}
.icon-menu:before {
	content: "\e608";
}
.icon-download:before {
	content: "\e601";
}
.icon-link:before {
	content: "\e617";
}
.icon-eye:before {
	content: "\e614";
}
.icon-bookmark:before {
	content: "\e620";
}
.icon-star:before {
	content: "\e621";
}
.icon-close:before {
	content: "\e60b";
}
.icon-arrow-up:before {
	content: "\e613";
}
.icon-arrow-right2:before {
	content: "\e625";
}
.icon-arrow-left2:before {
	content: "\e626";
}
.icon-share:before {
	content: "\e622";
}
.icon-googleplus:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-youtube:before {
	content: "\e612";
}
.icon-vimeo:before {
	content: "\e603";
}
.icon-dribbble:before {
	content: "\e604";
}
.icon-skype:before {
	content: "\e605";
}
.icon-pinterest:before {
	content: "\e60c";
}
.icon-paypal:before {
	content: "\e623";
}
.icon-menu2:before {
	content: "\e628";
}
.icon-lime:before {
	content: "\e624";
}
.icon-heart:before {
	content: "\e60d";
}
