
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,body {
	font-size: 100%;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #404040;
	background-color: white;
	position: relative;
}

a {
	font-weight: bold;
	color: #80B959;
	border-bottom: 1px solid rgba(198, 70, 61, 0);
	-webkit-transition: border 0.2s;
	-moz-transition: border 0.2s;
	transition: border 0.2s;
}
a:hover {
	border-bottom: 1px solid #80B959;
	/*border-bottom: 1px solid #000;*/
	text-decoration: none;
	color: #80B959;
}

hr {
	border-top: 1px solid #ccc;
}

img, embed, object, video, svg {
	/*max-width: 100%;*/
}
p{
	 border: 0; 
	 font-size: 100%; 
	 font: inherit; 
}

code {
	padding: 2px 4px;
	/*font-size: 90%;*/
	color: #c6463d;
	background-color: #f5f5f5;
	border-radius: 0;
}
pre {
	border: 0;
	border-radius: 0;
	margin: 1.5em 0;
}

.lime {
	background-color: #80B959!important;
}	
.lime-text {
	color: #80B959!important;
}	
.blue {
	background-color: #43b5e9!important;
	/*#679E42*/
}	
.green {
	background-color: #23A657!important;
	/*#80B959
	#679E42*/
}
.red {
	background-color: #F05557!important;
}
.golden {
	background-color: #F9C828!important;
}

.light-typo {
	color: #fff;
}
.bordered {
	border: 2px solid #fff;
	display: inline-block;
}
.gmnoprint .gmnoprint .gmnoprint {
	top: 80px;
}

.search h2 {
	margin-top: 0 !important;
}
/* ------------------------ hero ------------------------ */
#hero {
	background-color: #80B959;
	padding: 55px 0;
	min-height: 200px;
	padding-bottom: 1em;
	position: relative;
}
.welcome-content {
	min-height: 200px;
}
#hero h1 {
	 font-size: 45px; 
	font-weight: 300;
}
#hero h2 {
	font-family: "Merriweather", georgia, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	line-height: 24px;
}
#hero .middle-text {
	text-align: center;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 20;
}
#hero .middle-text a.btn {
	margin-top: 20px;
	margin-right: 0;
}
#hero .container {
	display: table;
	height: 300px;
}
#hero #cover-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-size: cover;
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	-ms-animation-delay: 0.15s;
	animation-delay: 0.15s;
	transform: translateZ(0);
}
#hero #cover-image:after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	left: 0;
	width: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
}

.image-bg {
	background-image: image-url('main.jpg');
}
.image-bg2 {
	background-image: image-url('img1.jpg');
}
.image-bg3 {
	 background-image: image-url('img4.jpg'); 
}
.image-bg4 {
	background-image: image-url('img7.jpg');  
}
.image-bg5 {
	background-image: image-url('img3.jpg');  
}

/* ------------------------ animations ------------------------ */
.tags a,article h2 a, 
.btn, .nav-icon, .nav-brand,
.btn-blog, .btn-blog.outline, 
#menu, #wrap, .menu-open, #menu>ul>li a, #menu .close-menu, .submenu-list {
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* ------------------------ buttons ----------------------*/
.btn {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 13px;
	cursor: pointer;
	padding: 0 26px;
	line-height: 38px;
	display: inline-block;
	margin: 0 10px 4px 0;
	height: 40px;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	background: #80B959;
	color: #fff;
	border: 1px solid #80B959;
	border-radius: 4px;
}
.btn:hover,
.btn:active,
.btn:focus {
	color: #fff;
	top: 0;
	text-decoration: none;
	background-color: #679E42;
	box-shadow: none;
	border: 1px solid #679E42;
}
.btn.outline {
	background: transparent;
	border: 2px solid #80B959;
	box-shadow: none;
	color: #80B959;
	text-decoration: none;
}
.btn.outline:hover,
.btn.outline:focus {
	background: #80B959;
	border-color: #80B959;
	color:#FFF;
	top:0;
	text-decoration: none;
}
.btn.outline-white {
	background: transparent;
	border: 1px solid #FFF;
	box-shadow: none;
	color: #FFF;
	text-decoration: none;
}
.btn.outline-white:hover,
.btn.outline-white:focus {
	background: #FFF;
	border-color: #FFF;
	color:#383838;
	top:0;
	text-decoration: none;
}
.btn-error{
	background-color: #F05557 !important;
}
.btn i {
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
}
.btn i:before {
	 line-height: 39px; 
} 
.btn i.left {
	padding-right: 10px;
}
.btn i.right {
	padding-left: 10px;
}
.btn.pull-right {
	margin: 0;
}
.btn.pull-left {
	margin: 0;
}
.btn span {
	line-height: 22px;
	vertical-align: text-bottom;
}

/* ------------------------ top navigation ------------------------ */
#main-nav{
	/* background-color: #80B959; */
	height: 55px;
	line-height: 55px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1040;
}

#main-nav.nav-bg{
	 background-color: #80B959; 
}
#main-nav.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1040;
}
.nav-header .btn{

	margin: 10px 10px 4px 0;
	line-height: 32px;
	height: 34px

}

.navbar-header i {
	float: left;
	margin-right: 10px;
	font-size: 21px;
	color: #FFF;
	margin-top: 4px;
}
.nav-icon {
	 float: right!important; 
	 width: 55px;
	 height: 55px;
	 margin-right: -15px;
	 border: 0;
	 color: #FFF;
}
.nav-icon i{
	 font-size: 16px; 
	 padding-left: 20px; 
	 line-height: 55px; 
	 border: 0;
}
.nav-icon:hover,
.nav-icon:focus {
	background-color: #679E42;
	color: #383838;
	border: 0;
} 

.nav-brand {
	font-family: "Merriweather", georgia, serif;
	font-weight: 700;
	font-size: 23px;
	font-style: italic;
	padding: 0;
	color: #FFF;
	border: 0;
}
.nav-brand:hover,
.nav-brand:focus {
	color: #383838;
	background-color: transparent;
	border: 0;
}
.nav-brand i{
	font-size: 23px;
	line-height: 47px;
	margin-right: 9px;
	float: left;
}

/* ------------------------ wrap ------------------------ */
/*#wrap::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

#wrap.menu-open::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}*/
/* ------------------------ off-canvas menu ------------------------ */

#wrap{
	position: relative;
	backface-visibility: hidden;
	min-height: 100%;
	min-width: 100%;
	z-index: 1030;
	background-color: #FFF;
	top: 0;
	bottom: 100%;
	left: 0;
}
.menu-right{
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	bottom: 0;
	width: 240px;
	height: 100%;
	background-color: #12131A;
	font-size: 13px;
	font-weight: normal;
	-webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	-o-transform: translate(0);
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}
.menu-open{
	-webkit-transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translateX(-240px);
	-o-transform: translate(-240px, 0);
	transform: translate3d(-240px, 0, 0) scale3d(1, 1, 1);
	overflow: none;
}
.menu-search {
	position: relative;
}
#menu>ul {
	position: absolute;
	left: 0;
	right: 0;
	padding-right: -15px; 
	list-style: none;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	white-space:nowrap;
	padding-left: 0;
	margin-bottom: 0;
}
#menu>ul::-webkit-scrollbar {
	display: none;
}
#menu>ul>li{
	position: relative;
	display: block;
}
#menu>ul>li a i{
	margin-right: 15px;
}
#menu>ul>li a{
	color: #737d83;
	border: 0;
	position: relative;
	display: block;
	padding: 15px 15px;
}
#menu>ul>li a:hover,
#menu>ul>li a:focus {
	background-color: #1e1f27 !important;
	color: #FFF;
	color: #80B959;
	text-decoration: none;
}
#menu .header {
	background-color: #1C1D24;
	height: 55px;
	margin-bottom: 0;
	padding-top: 9px;
	color: #737d83;
}
#menu .close-menu{
	font-size: 16px;
	text-shadow: none;
	color: #FFF;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	width: 55px;
	border: 0;
}
#menu .close-menu:hover,
#menu .close-menu:focus{
	background-color: #679E42;
	color: #383838;
} 
#menu .close-menu i{
	line-height: 55px;
	padding-left: 20px;
}
#menu .header input {
	margin: 9px 0 0 28px;
	border: 0;
	width: 141px;
	font-size: 13px;
	font-weight: bold;
	background-color: #1C1D24;
	top: 0;
}
#menu .header input:focus {
	border: 0;
	box-shadow: none;
	outline: none;
}
.searchico {
	position: relative;
	left: 16px;
}
#menu .badge {
	background-color: #80B959;
	color: #12131A;
	position: absolute;
	right: 15px;
}
#menu a span {
	position: absolute;
	right: 15px;
}
/*  submenu ------------------------ */
.submenu b.caret {
	position: absolute;
	right: 15px;
	margin-top: 7px;
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.submenu {
	cursor: pointer;
}
.submenu-list{
	list-style: none;
	padding: 0;
	max-height: 0;
	overflow-y: hidden;
	background-color: #1c1d24;
} 
.submenu-list li a {
	position: relative;
	display: block;
	padding: 10px 15px 10px 44px !important;
}
.submenu-open {
	background-color: #1c1d24;
}
.submenu-open .submenu-list{
	max-height: 500px;
}
.submenu-open b.caret {
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

/* ------------------------ blog ------------------------ */

.content {
	font-family: "Merriweather", georgia, serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.4;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-color: #FFF;
	min-height: 300px;
}
.content .post-head {
	margin-bottom: 1em;
}
.content .post-date {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #9f9f9f;
	font-weight: bold;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	position: relative;
}
.content .post-date span{
	float: right;
}

.content p {
	margin: .6em 0 1em;
}

.content b, .content strong {
	font-weight: bold;
}
.content>i, .content em {
	font-style: italic;
}
.content h1, .content h2, .content h3,.content h4 {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-weight: bold;
	color: #383838;
}
.content h1 {
	font-size: 28px;
	font-size: 1.75rem;
	margin: .2em 0 .6em;
	line-height: 1.2;
	text-transform: capitalize;
}
.content h2 {
	font-size: 22px;
	font-size: 1.375rem;
}
.content h3 {
	font-size: 18px;
	font-size: 1.125rem;
}
.content h4 {
	font-size: 16px;
	font-size: 1rem;
}
.content h2, .content h3, .content h4 {
	margin: 1em 0 .4em;
}
.content blockquote {
	/* margin: 2em 0 1em; */
}
.content blockquote p {
	font-style: italic;
	font-size: 18px;
	font-size: 1.125rem;
}
.content .cite {
	display: block;
	position: relative;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: bold;
	letter-spacing: -.04em;
	margin-bottom: 2.5em;
}

.content .post-intro {
	font-size: 18px;
	font-size: 1.125rem;
	font-style: italic;
	margin: 1em 0;

}
.content ul, .content ol {
	margin: 1.5em 0;
}
.content li {
	padding: .25em 0;
}
figure {
	margin: 1.5em 0;
}
figcaption {
	font-size: .875em;
	font-style: italic;
	margin-top: .875em;
}
blockquote footer, blockquote small, blockquote .small {
	font-size: 100%;
}

#author {
	border-top: 1px solid #ccc;
	margin: 1em 0;
	position: relative;
}
#author img {
	position: absolute;
	left: 0;
	top: 1em;
	width: 50px;
	height: 50px;
}
#author .author-info {
	padding: 1em 0 0 70px;
}
#author .author-info h3 {
	color: #383838;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	margin: 0;
	line-height: 1;
}
#author .author-info p {
	font-size: 14px;
	font-size: 0.875rem;
}
#author .author-info .author-dribbble {
	color: #ec4989;
}
#author .author-info .author-dribbble:hover {
	border-bottom-color: #ec4989;
}
#author .author-info .author-twitter {
	color: #50abf1;
}
#author .author-info .author-twitter:hover {
	border-bottom-color: #50abf1;
}

.media img {
	/* border-radius: 0.25em; */
}
.media hr {
	margin-top: 0;
}
.media h4 {
	margin: 0;
}
.media h4 span{
	float: right;
	font-size: 13px;
	font-size: 0.8125rem;
	color: #9f9f9f;
}
.media p {
	font-size: 13px;
	font-size: 0.8125rem;
}
.avatar,
.avatar:hover,
.avatar:active {
	border: 0;
}
/* ------------------------ blog list ------------------------ */
article {
	border-bottom: 1px solid #ccc;
	margin-bottom: 1em;
}
article.last {
	border-bottom: 0;
} 
article .post-date {
	margin-top: 1em;
}
article h2 {
	margin: .6em 0 .6em !important;
}
article h2 a{
	color: #404046;
	border: 0;
	/* text-align: center; */
}
article h2 a:hover{
	border: 0;
}
article .btn {
	margin: 0;
}
.paging {
	margin-bottom: 2em;
}
.paging a { 
	padding: 0 15px;
	/* margin: 15px; */
}

.post-popular {
	border-top: 1px solid #ccc;
	/* border-bottom: 1px solid #ccc; */
	margin: 1em 0;
	padding: 1.5em 0 0 0;
	position: relative;
}

.post-popular::before {
	content: 'Popular post';
	position: absolute;
	left: 0;
	top: -12px;
	display: inline-block;
	background: #FFF;
	padding-right: 1em;
	font-size: 13px;
	font-size: 0.8125rem;
	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #9f9f9f;
}
.post-popular h4,
.post-recent-widget h4 {
	font-size: 14px !important;
	margin-top: 8px;
	
}
.post-popular img, 
.post-recent-widget img{
	border-radius: 4px;
}
.post-popular a:hover img,
.post-recent-widget a:hover img {
	opacity: 0.6;
	transition: all 0.5s ease 0s;
}
.post-popular .media a.pull-left {
	border: 0;
}
.post-popular .media a.pull-left:hover {
	border: 0;
}

.media-heading {
	/*font-size: 16px !important;*/
	margin-top: 0 !important;
	
}

.post-recent-widget p{
	font-size: 11px !important;
	margin: 5px 0 0 0;
}
.post-recent-widget a.pull-left {
	border: 0;
}
.post-recent-widget a.pull-left:hover {
	border: 0;
}	

/* ------------------------------ Comments -------------------------- */

#comments_pagination {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	margin: 16px 0;
	text-align: center;
}
#comments_pagination a {
	cursor: pointer;
}
#comments_pagination a,
#comments_pagination span {
	font-size: 13px;
	padding: 0 17px;
	line-height: 38px;
	display: inline-block;
	margin: 0 10px 4px 0;
	height: 40px;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	background: #FFF;
	color: #80B959;
	border: 1px solid #80B959;
	border-radius: 4px;

}
#comments_pagination span {
	border: 1px solid #80B959;
	background: #80B959;
	color: #FFF;
}


#comments_pagination a:hover,
#comments_pagination a:active,
#comments_pagination a:focus {
	color: #fff;
	top: 0;
	text-decoration: none;
	background-color: #679E42;
	box-shadow: none;
	border: 1px solid #679E42;
}

/* ------------------------------ widget -------------------------- */
.widget{
	font-family: "Open Sans", helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 3em;
	/* color: #80B959; */
}
.widget hr{
	margin: 10px 0 5px 0;
}
.widget ul{
	font-family: "Open Sans", helvetica, arial, sans-serif;
	padding-left: 20px;
	margin: 0;
	line-height: 18px;
	list-style: none;
	padding: 0;
}
.widget h3 {
	margin-top: 0;
	/*background-color: #80B959;*/
	background-color: #ccc;
	padding: 12px 14px;
	/*color: #FFF;*/
	font-size: 12px !important;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
}
.widget li {
	padding: 5px 0 6px  0;
}
.widget li a{
	font-size: 13px;
	font-weight: 400;
	color: #6A9E4B;
}
.widget i{
	color: #ccc;
	padding-right: 10px;
}

/* ------------------------------ myform -------------------------- */
.myform {
	padding-top: 5px; 
}
.myform .form-group label{
	display:none;
	font-size:18px;
	line-height:24px;
	font-weight:100;
	text-align: center;
}
.myform .no-placeholder .form-group label{
	display:block;
}

.myform.no-placeholder .controls {
	margin-top:0;
}

.myform .form-control,
.input-group .form-control {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	display:inline;
	background:#fff;
	border:none;
	/* border-radius:5px; */
	outline:none;
	height: 44px;
	font-size:16px;
	font-weight:400;
	vertical-align:top;
	border: 2px solid #ccc;
	box-shadow:none;
	/*  ios gradiet fix */
	-webkit-appearance: none;
}

.special {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.controls {
	position: relative;
}
.myform textarea.form-control {
	height:auto;
	max-width:100%;
	min-width:100%;
	font-size: 16px;
	font-weight:400;
	line-height:24px;
	padding-top: 8px;
	vertical-align:top;
}

.myform .inputError,
.myform textarea.form-control.inputError,
.myform .inputError {
	outline:none;
	border:2px solid #F05557;
}

.myform .error-message {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	position: absolute;
	top: 6px;
	right: 15px;
	font-size: 16px;
	line-height: 32px;
	font-weight:400;
	color:#F05557;
	z-index:10;
}
.myform .form-control:focus,
.myform textarea.inputError:focus,
.input-group .form-control:focus {
	outline:none;
	border: 2px solid #80B959;
}

.myform.no-placeholder .error-message {
	top:0;
}
.myform .btn {
	margin: 0;
	height: 44px;
}
/* fix newsleter form */
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group {
    margin-left: 0;
}
.input-group .form-control,
.input-group .form-control:focus{
	border-right-width: 0px;
}
#main-footer,
#social {
	padding: 40px 0 20px;
}
.checkbox, .radio {
	margin-bottom: 12px;
	padding-left: 32px;
	position: relative;
	-webkit-transition: color 0.25s linear;
	transition: color 0.25s linear;
	font-size: 14px;
	line-height: 1.5;
}
label.show {
	display: block;
	text-decoration: none;
}
input[type=radio],input[type=checkbox] {
	margin: 4px 7px 0 0;
	line-height: normal;
	font-size: 21px;
	text-align: center;
}
form p {
	margin-top: 16px;
}
#total {
	font-weight: 600;
}


.form-control-inline {
	min-width: 0;
	width: auto!important; 
	display: inline!important;
}

.table tbody>tr>td.vert-align {
	vertical-align: middle;
}
address {
	font-size: 14px;
}
/* ------------------------------ about -------------------------- */

.about-portrait {
	/*float: none;*/
	margin: 00px auto;
}
/* ------------------------------ contact -------------------------- */

.contact h3 {
	margin-top: 0;
}

/* ------------------------------ archives -------------------------- */

.archives article {
	margin-bottom: 1em;
}
.archives.content {
	padding-top: 1em;
}

/* ------------------------------ login -------------------------- */
.login{
	/* width: 320px; */
	/*font-family: "Open Sans", helvetica, arial, sans-serif;*/
}
.modal-body p {
	font-size: 14px;
	font-family: "Open Sans", helvetica, arial, sans-serif;
}
.login .modal-footer{
	border-top: 0;
	margin-top: 0px;
	padding: 10px 20px 20px;
	font-size: 14px;
}
.login .modal-header {
	border: 0 none;
	padding: 15px 15px 15px;
}

.login .forgot {
	color: #797979;
	margin-left: 0;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.login .content {
	padding: 0;
}
.modal-header .close {
	margin-top: -2px;
	font-size: 28px;
}
.modal-title {
	font-weight: 700;
}
/* ------------------------------ social links -------------------------- */
.social-links,
.social-profiles {
	list-style:none;
	margin:0;
	padding:0;
	/* margin-bottom: 29px; */
}
.social-links li,
.social-profiles li{
	display:inline-block;
	margin: 0 5px 0 0;
	box-shadow: none;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.social-links li a {
	background: transparent;
	display:block;
	color: #ccc;
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	border-radius:50%;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.social-links li a i{
	/* font-size: 16px; */
}
.social-links li a:hover {
	color: #121417;
	background:#80B959;
	text-decoration: none;
	border-color: #80B959;
}

.social-links.outline li a {
	color: #80B959;
	 border: 1px solid #80B959; 
}
.social-links.outline li a:hover {
	color: #FFF;
	background:#80B959;
	text-decoration: none;
	border-color: #80B959;
}
.social-links.outline-white li a {
	color: #FFF;
	 border: 1px solid #FFF; 
}
.social-links.outline-white li a:hover {
	color: #80B959;
	background:#FFF;
	text-decoration: none;
	border-color: #FFF;
}
/* ------------------------------ Footer -------------------------- */

footer {
	color: #ccc;
	font-size: 14px;
}
.footer {
	background-color: #23282E;
}

footer h3 {
	margin-bottom: 20px;
}
.footer-widget {
	padding-bottom: 20px;
}

footer ul {
	padding-left: 20px;
}
footer .copyright {
	background-color: #121417;
	padding: 15px 0;
}
.copyright p {
	margin: 10px 0 0 0;
}
.footer-widget .stats .line {
	font-size: 16px;
	margin-top: 10px;
}
.footer-widget .stats .line .counter {
	font-weight: 700;
	float: left;
	font-size: 18px;
}
.footer-widget .stats .line .caption {
	
	margin-left: 52px;
	display: block;
}

/* ------------------------------ breadcrumb -------------------------- */

#breadcrumb {
	border-bottom: 1px solid #ccc;
}
.breadcrumb {
	padding: 8px 0;
	margin: 10px 0;
	list-style: none;
	background-color: transparent;
	border-radius: 4px;
	font-weight: 700;
}
.breadcrumb>.active {
	color: #ccc;
}

/* ------------------------------ Tags -------------------------- */
.tags {
	list-style: none;
	margin: 0 0 15px 0;
	padding-left: 0;
}
.tags li {
	float: left;
}
.tags li a {
	padding: 4px 8px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
	background-color: #414A55;
/*	-moz-border-radius: 5px;
*/	/* border-radius: 5px; */
	border: 0;
	font-size: 14px;
	color: #FFF;
	font-weight: 400;
}
.tags li a:hover,
.tags li a:active {
	background-color: #80B959; 
}
/* ------------------------------ Media -------------------------- */
@media (min-width: 600px) {
	.content .date {
		font-size: 13px;
		font-size: 0.8125rem;
	}
	.content h1 {
		font-size: 32px;
		font-size: 2rem;
	}
	.login .modal-dialog {
		 width: 320px;
		 margin: 30px auto; 
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		 padding-left: 0; 
	}
	#hero .container {
		height: 377px;
	}
	.content {
		line-height: 1.6;
	}
	.content h1 {
		font-size: 36px;
		font-size: 2.25rem;
	}
	.content h2 {
		font-size: 26px;
		font-size: 1.625rem;
	}
	.content h3 {
		font-size: 22px;
		font-size: 1.375rem;
	}
	.content h4 {
		font-size: 18px;
		font-size: 1.125rem;
	}
	.content .post-intro {
		font-size: 20px;
		font-size: 1.25rem;
		margin-bottom: 1.4em;
	}
	#author {
			margin: 2em 0;
		}
	#author::before {
		content: 'Author';
		position: absolute;
		left: 0;
		top: -12px;
		display: inline-block;
		background: #FFF;
		padding-right: 1em;
		font-size: 13px;
		font-size: 0.8125rem;
		font-family: "Open Sans", helvetica, arial, sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		color: #9f9f9f;
	}
	#author img {
		width: 80px;
		height: 80px;
		top: 2em;
	}
	#author .author-info {
		padding: 2em 0 0 100px;
	}
	#author .author-info h3 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	#author .author-info p,.media p {
		font-size: 16px;
		font-size: 1rem;
	}
	.login .modal-dialog {
		 width: 320px; 
	}

}

@media (min-width: 1024px) {
	.navbar-brand {
		 padding-left: 0; 
	}
	#hero .container {
		height: 377px;
	}
	.content {
		line-height: 1.8;
		font-size: 18px;
		font-size: 1.125rem;
	}
	.content h1 {
		font-size: 45px;
		font-size: 2.8125rem;
	}
	.content h2 {
		font-size: 35px;
		font-size: 2.1875rem;
	}
	.content h3 {
		font-size: 25px;
		font-size: 1.5625rem;
	}
 } 


