<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <%= render "shared/statistics" %>
        <%= render "shared/recent_articles" %>
        <div class="col-sm-4 col-md-4 footer-widget clearfix">
          <h3>Contacts</h3>
          <ul class="tags">
            <li><a href="mailto:status.enable@gmail.com">e-mail</a></li>
            <li><a href="http://facebook.com/shamatov">Facebook</a></li>
            <li><a href="http://linkedin.com/in/shamatov">Linked In</a></li>
            <li><a href="http://stackoverflow.com/users/703725/ivan-shamatov">Stackoverflow</a></li>
            <li><a href="https://github.com/IvanShamatov">Github</a></li>
            <li><a href="http://bitbucket.org/IvanShamatov">BitBucket</a></li>                         
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="pull-left">Designed by <a href="http://angelostudio.net">Angelo Studio.</a></p>
    </div>
  </div>
</footer>