<% cache "footer/recent_articles" do %>
  <div class="col-sm-4 col-md-4 footer-widget">
    <h3>Recent posts</h3>
    <div class="post-recent-widget">
      <div class="row">
        <div class="col-sm-12">
          <% Article.recent.each do |article| %>
            <% cache article do  %>
              <div class="media">
                <%=link_to image_tag(article.cover.url, width: "80", class: "media-object"), article, class: "pull-left" %>
                <div class="media-body">
                  <h4 class="media-heading"><%= link_to article.title, article %>
                  <p class="post-date"><%= article.created_at.strftime("%B %d, %Y") %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
