<% cache do %>
  <div class="col-sm-4 col-md-4 footer-widget">
    <h3>Statistics</h3>

    <div class="stats">
      <div class="line">
        <span class="counter"><%=Article.count%></span>
        <span class="caption">Articles</span>
      </div>
      <div class="line">
        <span class="counter"><%=Comment.count%></span>
        <span class="caption">Comments</span>
      </div>
      <div class="line">
        <span class="counter"><%=User.count%></span>
        <span class="caption">Users</span>
      </div>                    
    </div>
  </div>
<% end %>