<p id="notice"><%= notice %></p>

<p>
  <strong>E-mail:</strong>
  <%= @subscription.email %>
</p>

<%= link_to 'Back', articles_path %>
<%= link_to "Unsubscribe", subscription_path(@subscription.token), method: :delete, confirm: "Are you sure you want to unsubscribe?" %>