<!DOCTYPE html>
<html>
  <head>
    <title>Key Lime</title>
    <meta charset="utf-8">
    <meta name="description" content="Key Lime Responsive HTML5/CSS3 Template from angelostudio.net">
    <meta name="author" content="ANGELOSTUDIO.NET">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Merriweather:400,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="home">
    <div id="wrap">
      <div id="main-nav" class="">
        <div class="container">
          <div class="nav-header">
              <a class="nav-brand" href="/"><i class="icon-lime"></i>Key Lime</a>
              <a class="btn btn-blog outline-white pull-right" href="#" data-toggle="modal" data-target="#loginModal">Subscribe</a>
            </div>
        </div>
      </div>
      <% if flash[:notice] %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>    

    <div class="modal fade login" id="loginModal" aria-hidden="true">
        <div class="modal-dialog login">
          <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Subscribe to this blog</h4>
          </div>
          <div class="modal-body">  
            <div class="box">
              <div class="form loginBox">
                <%= form_for(Subscription.new, class: "myform") do |f| %>
                  <div class="form-group">
                    <div class="controls">
                      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
                    </div>
                  </div>
                  <%= f.submit "Submit", class: "btn btn-block" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="forgot login-footer">
            </div>
          </div>        
          </div>
        </div>
      </div>
    <%= javascript_include_tag 'application'%>
  </body>
</html>